.rm-primary-header{
    .hamburger{
        &.show{
            width: 15px;
            div{
                &:nth-child(1){
                    transform: rotate(45deg);
                    transform-origin: top left;
                }
                &:nth-child(2){
                    display: none;
                }
                &:nth-child(3){
                    transform: rotate(-45deg);
                    transform-origin: bottom left;
                }
            }
        }
    }
}